<div class="container mt-5">
  <form [formGroup]="myForm" autocomplete="off" novalidate>

    <!-- First Name -->
    <app-my-text-input  [label]="'First Name'"
                        [placeholder]="'e.g. John'"
                        formControlName="firstName"
                        [control]="myForm.get('firstName')">
    </app-my-text-input>
    <!-- /First Name -->

    <!-- Last Name -->
    <app-my-text-input  [label]="'Last Name'"
                        [placeholder]="'e.g. Doe'"
                        formControlName="lastName"
                        [control]="myForm.get('lastName')">
    </app-my-text-input>
    <!-- /Last Name -->

    <!-- Email Address -->
    <app-my-text-input  [label]="'Email address'"
                        [placeholder]="'e.g. john@doe.com'"
                        formControlName="email"
                        [control]="myForm.get('email')"
                        [type]="'email'">
    </app-my-text-input>
    <!-- /Email Address -->

    <!-- Password -->
    <app-my-text-input  [label]="'Password'"
                        [placeholder]="'e.g. **** :) '"
                        formControlName="password"
                        [control]="myForm.get('password')"
                        [type]="'password'">
    </app-my-text-input>
    <!-- /Password -->

    <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">Submit</button>
  </form>

  {{myForm.value | json}}
</div>
